:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}


body, html {
    background-color: var(--slate-300);
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.qr-card-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: min-content;
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 1rem;
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.5rem;
}

.qr-title {
    text-align: center;
    color: var(--slate-900);
    font-weight: 700;
}

.qr-desc {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: var(--slate-500);
    font-weight: 400;
}